* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: .5em;
    height: .5em;
}

::-webkit-scrollbar-track {
    background: transparent !important;
}

::-webkit-scrollbar-thumb {
    background-color: #8B54FF;
    border-radius: .01em;
}

/* Inicialização do site */

.start {
    background: #8B54FF;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.logo {
    filter: brightness(100);
}

/* Estrutura do site */

/* Top-Bar */

.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    position: fixed;
    top: 0;
    height: 5em;
    width: 100%;
    z-index: 1000;

    background: #8B54FF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.topbar a {
    text-decoration: none;
}

.logo-top {
    display: flex;
}

.logo-top img {
    width: 150px;
}

.menu {
    display: none;
}

.logo-top span {
    font-family: 'Marvel', sans-serif;
    color: #fff;
    font-size: 2em;
    position: relative;
    top: 1.7em;
    left: -1.6em;
}

.topbar .nav a {
    color: #fff;
    transition: 1s;
}

.topbar .nav {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    width: 15em;
    font-size: 1.5em;
    font-family: 'Marvel', sans-serif;
    margin-right: 1em;
}

.topbar .nav a:hover {
    color: #ba9afd;
}

/* Section Home */

#Home {
    display: flex;
    align-items: center;
    justify-content: center;
}

#Home .main-photo {
    margin-top: 10em;
    box-shadow: 45px -45px 1px #8B54FF;
    width: 900px;
}

#Home .details {
    position: absolute;
    right: 0;
    top: 40em;
    z-index: -1;
}

#Home .texts {
    z-index: 999;
    text-align: center;
    margin-top: 9em;
    margin-right: 3em;
}

#Home .texts h1 {
    font-family: 'Anton', sans-serif;
    font-size: 4.5em;
    color: #8B54FF;
    letter-spacing: 4px;
}

#Home .texts h3 {
    font-family: 'Bayon', sans-serif;
    font-size: 3.5em;
    letter-spacing: 2px;
    margin-top: -20px;
}

#Home .texts h5 {
    font-family: 'Caveat', cursive;
    font-size: 5em;
    margin-top: -10px;
}

/* Section Dentista */

#Dentista {
    margin-top: 7em;
    background: #8B54FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Dentista .main {
    display: flex;
    align-items: center;
    margin-top: 2em;
}

#Dentista .image {
    width: 775px;
}

#Dentista .texts {
    text-align: center;
    color: #fff;
    margin-left: 1em;
}

#Dentista .texts h1 {
    font-family: 'Grand Hotel', cursive;
    font-size: 'Grand Hotel', cursive;
    font-size: 5em;
}

#Dentista .texts p {
    font-family: 'Marvel', sans-serif;
    width: 20em;
    font-size: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

#Dentista h3 {
    font-family: 'Marvel', sans-serif;
    text-transform: bold;
    font-size: 3em;
}

#Dentista .points {
    filter: brightness(100);
    position: absolute;
    z-index: 999;
    top: 92em;
    left: 0;
}

#Dentista .points-2 {
    filter: brightness(100);
    z-index: 999;
    position:absolute;
    top: 57em;
    right: 1em;
}

/* Section Services */

#Servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
}

#Servicos h1 {
    font-family: 'Marvel', sans-serif;
    text-transform: bold;
    font-size: 4em;
}

#Servicos .serv {
    display: flex;
    margin-top: 7em;
    align-items: center;
    justify-content: space-around;
    width: 80em;
}

#Servicos .serv img {
    width: 550px;
    box-shadow: 15px 15px 1px #8B54FF;
}

#Servicos .serv p {
    width: 20em;
    margin-top: 3em;
    font-size: 1.5em;
    font-family: 'Marvel', sans-serif;
}

#Servicos .serv .servico-1, #Servicos .serv .servico-2 {
    display: flex;
    flex-direction: column;
}

#Servicos .d-points {
    position: absolute;
    left: 0;
}

#Servicos .d-points-2 {
    position: absolute;
    right: 0;
    top: 150em;
}

/* Section Contato */

#Contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7em;
    background: #8B54FF;
    font-family: 'Marvel', sans-serif;
}

#Contato h1 {
    color: #fff;
    text-transform: bold;
    font-size: 4em;
    margin-top: 1em;
    filter: drop-shadow(0 7px 25px rgba(0, 0, 0, .5));
}

#Contato .more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3em;
}

#Contato .info {
    display: flex;
    flex-direction: column;
    margin-right: 3em;
}

#Contato .info a {
    text-decoration: none;
    color: #fff;
    width: 13em;
    font-size: 2em;
    margin-bottom: .5em;
    transition: .5s;
}

#Contato .info a:hover {
    color: #341f61;
}

#Contato .form form {
    display: flex;
    flex-direction: column;
}

#Contato .form form input,
#Contato .form form textarea,
#Contato .form form button {
    font-size: 1.5em;
    margin-bottom: .1em;
    padding: .5em;
    border-radius: .5em;
    outline: none;
    width: 20em;
    border: none;
}

textarea {
    font-family: 'Marvel', sans-serif;
}

#Contato .form form button {
    display: flex;
    width: 5em;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 15em;
    transition: .5s;
}

#Contato .form form button:hover {
    background: #8B54FF;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8B54FF;
    font-family: 'Marvel', sans-serif;
}

footer .logo-bottom {
    display: flex;
}

footer .logo-bottom img {
    width: 300px;
}

footer .logo-bottom span {
    font-family: 'Marvel', sans-serif;
    color: #fff;
    font-size: 4em;
    position: relative;
    margin-top: 1.7em;
    left: -1.6em;
    filter: drop-shadow(0 7px 25px rgba(0, 0, 0, .5));
}

footer span {
    color: #fff;
    font-size: 1.5em;
    z-index: 999;
}

footer span a {
    text-decoration: none;
    color: #fff;
    transition: .5s;
}

footer span a:hover {
    color: #9d6fff;
}

footer .points-bottom-2 {
    position: absolute;
    top: 145em;
    left: 1em;
    filter: brightness(100);
}

footer .points-bottom {
    position: absolute;
    top: 175em;
    right: 1em;
    width: 200px;
    filter: brightness(100);
}

.details-bottom {
    position: absolute;
    left: -25em;
    top: 192em;
    object-fit: cover;
    object-position: 27em;
    filter: brightness(100);
}

.details-bottom-2 {
    position: absolute;
    right: -12em;
    top: 155em;
    object-fit: cover;
    object-position: 34em;
    filter: brightness(100);
    transform: rotateZ(90deg);
}



/* Media Queries */

@media screen and (min-width: 280px) and (max-width: 550px) {


    .menu {
        display: flex;
        position: absolute;
        z-index: 2000;
        color: #fff;
        top: .4em;
        right: .5em;
        font-size: 3em;
    }

    .topbar .nav {
        display: none;
        flex-direction: column;
        margin-top: 12em;
        background: #8B54FF;
        position: absolute;
        width: 100%;
        height: 10em;
        text-align: center;
        font-size: 2em;
    }

    .visible {
        display: flex !important;
    }

    .topbar .nav a {
        margin-top: 1em;
    }

    .topbar .nav a:last-child {
        padding-bottom: 1.5em;
    }

    #Home {
        flex-direction: column;
    }

    #Home .main-photo {
        width: 300px;
        box-shadow: 20px -20px 1px #8B54FF;
        margin-top: 3em;
    }

    #Home .texts {
        margin-right: 0;
    }

    #Home .texts h1 {
        font-size: 1.5em;
    }

    #Home .texts h3 {
        margin-top: -10px;
        font-size: 1.2em;
    }

    #Home .texts h5 {
        font-size: 1.5em;
    }


    #Dentista, #Dentista .main {
        flex-direction: column;
    }

    #Dentista .image {
        width: 375px;
    }

    #Dentista .texts h1 {
        font-size: 3em;
    }

    #Dentista .texts p {
        width: 10em;
    }

    #Dentista h3 {
        font-size: 2em;
        padding-bottom: 2em;
    }

    #Dentista .points {
        top: 95em;
        left: -6em;
    }

    #Dentista .points-2 {
        display: none;
    }

    #Servicos h1 {
        text-align: center;
    }

    #Servicos .serv {
        flex-direction: column;
        width: 0;
    }

    #Servicos .serv img {
        width: 300px;
    }

    #Servicos .serv p {
        width: 12em;
    }

    #Servicos .serv .servico-1, #Servicos .serv .servico-2 {
        margin-left: 0;
    }

    .servico-2 {
        margin-top: 3.5em;
    }

    #Servicos .d-points,
    #Servicos .d-points-2 {
        display: none;
    }


    #Contato h1 {
        text-align: center;
    }

    #Contato .more {
        flex-direction: column;
    }

    #Contato .more a {
        font-size: 1.5em;
    }

    #Contato .form form {
        margin-top: 1.5em;
    }

    #Contato .form form input,
    #Contato .form form textarea,
    #Contato .form form button {
        font-size: 1em;
    }


    footer {
        flex-direction: column;
    }

    footer .logo-bottom img {
        width: 150px;
    }

    footer .logo-bottom span {
        font-size: 2em;
    }

    footer span {
        font-size: 1em;
        padding-bottom: 1em;
    }

    .details-bottom, .details-bottom-2 {
        display: none;
    }

}

@media screen and (min-width: 550px) and (max-width: 750px) {


    .menu {
        display: flex;
        position: absolute;
        z-index: 2000;
        color: #fff;
        top: .4em;
        right: .5em;
        font-size: 3em;
    }

    .topbar .nav {
        display: none;
        flex-direction: column;
        margin-top: 12em;
        background: #8B54FF;
        position: absolute;
        width: 100%;
        height: 10em;
        text-align: center;
        font-size: 2em;
    }

    .visible {
        display: flex !important;
    }

    .topbar .nav a {
        margin-top: 1em;
    }

    .topbar .nav a:last-child {
        padding-bottom: 1.5em;
    }

    #Home {
        flex-direction: column;
    }

    #Home .main-photo {
        width: 500px;
        box-shadow: 20px -20px 1px #8B54FF;
        margin-top: 3em;
    }

    #Home .texts {
        margin-right: 0;
        text-align: center;
    }

    #Home .texts h1 {
        font-size: 2em;
    }

    #Home .texts h3 {
        margin-top: -10px;
        font-size: 1.9em;
    }

    #Home .texts h5 {
        font-size: 2.5em;
    }


    #Dentista, #Dentista .main {
        flex-direction: column;
    }

    #Dentista .image {
        width: 500px;
    }

    #Dentista .texts h1 {
        font-size: 3em;
    }

    #Dentista .texts p {
        width: 10em;
    }

    #Dentista h3 {
        font-size: 2em;
        padding-bottom: 2em;
    }

    #Dentista .points {
        top: 95em;
        left: -6em;
    }

    #Dentista .points-2 {
        display: none;
    }



    #Servicos h1 {
        text-align: center;
    }

    #Servicos .serv {
        flex-direction: column;
        width: 0;
    }

    #Servicos .serv img {
        width: 450px;
    }

    #Servicos .serv p {
        width: 19em;
    }

    #Servicos .serv .servico-1, #Servicos .serv .servico-2 {
        margin-left: 0;
    }

    .servico-2 {
        margin-top: 3.5em;
    }

    #Servicos .d-points,
    #Servicos .d-points-2 {
        display: none;
    }


    #Contato h1 {
        text-align: center;
    }

    #Contato .more {
        flex-direction: column;
    }

    #Contato .more a {
        font-size: 1.8em;
    }

    #Contato .form form {
        margin-top: 1.5em;
    }

    #Contato .form form input,
    #Contato .form form textarea,
    #Contato .form form button {
        font-size: 1.5em;
    }


    footer {
        flex-direction: column;
    }

    footer .logo-bottom img {
        width: 150px;
    }

    footer .logo-bottom span {
        font-size: 2em;
    }

    footer span {
        font-size: 1em;
        padding-bottom: 1em;
    }

    .details-bottom, .details-bottom-2 {
        display: none;
    }

}

@media screen and (min-width: 750px) and (max-width: 1000px) {


    .menu {
        display: flex;
        position: absolute;
        z-index: 2000;
        color: #fff;
        top: .4em;
        right: .5em;
        font-size: 3em;
    }

    .topbar .nav {
        display: none;
        flex-direction: column;
        margin-top: 12em;
        background: #8B54FF;
        position: absolute;
        width: 100%;
        height: 10em;
        text-align: center;
        font-size: 2em;
    }

    .visible {
        display: flex !important;
    }

    .topbar .nav a {
        margin-top: 1em;
    }

    .topbar .nav a:last-child {
        padding-bottom: 1.5em;
    }

    #Home {
        flex-direction: column;
    }

    #Home .main-photo {
        width: 500px;
        box-shadow: 20px -20px 1px #8B54FF;
        margin-top: 3em;
    }

    #Home .texts {
        margin-right: 0;
        text-align: center;
    }

    #Home .texts h1 {
        font-size: 2em;
    }

    #Home .texts h3 {
        margin-top: -10px;
        font-size: 1.9em;
    }

    #Home .texts h5 {
        font-size: 2.5em;
    }


    #Dentista, #Dentista .main {
        flex-direction: column;
    }

    #Dentista .image {
        width: 500px;
    }

    #Dentista .texts h1 {
        font-size: 3em;
    }

    #Dentista .texts p {
        width: 17em;
    }

    #Dentista h3 {
        font-size: 2em;
        padding-bottom: 2em;
    }

    #Dentista .points {
        top: 95em;
        left: -6em;
    }

    #Dentista .points-2 {
        display: none;
    }



    #Servicos h1 {
        text-align: center;
    }

    #Servicos .serv {
        flex-direction: column;
        width: 0;
    }

    #Servicos .serv img {
        width: 450px;
    }

    #Servicos .serv p {
        width: 19em;
    }

    #Servicos .serv .servico-1, #Servicos .serv .servico-2 {
        margin-left: 0;
    }

    .servico-2 {
        margin-top: 3.5em;
    }

    #Servicos .d-points,
    #Servicos .d-points-2 {
        display: none;
    }


    #Contato h1 {
        text-align: center;
    }

    #Contato .more {
        flex-direction: column;
    }

    #Contato .more a {
        font-size: 1.8em;
    }

    #Contato .form form {
        margin-top: 1.5em;
    }

    #Contato .form form input,
    #Contato .form form textarea,
    #Contato .form form button {
        font-size: 1.5em;
    }

    footer {
        flex-direction: column;
    }

    footer .logo-bottom img {
        width: 150px;
    }

    footer .logo-bottom span {
        font-size: 2em;
    }

    footer span {
        font-size: 1em;
        padding-bottom: 1em;
    }

    .details-bottom, .details-bottom-2 {
        display: none;
    }

}

@media screen and (min-width: 1000px) and (max-width: 1250px) {

    #Home .main-photo {
        width: 500px;
        box-shadow: 20px -20px 1px #8B54FF;
        margin-top: 10em;
    }

    #Home .texts {
        margin-right: 0;
        text-align: center;
    }

    #Home .texts h1 {
        font-size: 2.5em;
    }

    #Home .texts h3 {
        margin-top: -10px;
        font-size: 2.4em;
    }

    #Home .texts h5 {
        font-size: 2.7em;
    }


    #Dentista .image {
        width: 500px;
    }

    #Dentista .texts h1 {
        font-size: 3em;
    }

    #Dentista .texts p {
        width: 17em;
    }

    #Dentista h3 {
        font-size: 2em;
        padding-bottom: 2em;
    }

    #Dentista .points {
        top: 95em;
        left: -6em;
    }

    #Dentista .points-2 {
        display: none;
    }



    #Servicos h1 {
        text-align: center;
    }

    #Servicos .serv {
        width: 100%;
        align-items: center;
    }

    #Servicos .serv img {
        width: 450px;
    }

    #Servicos .serv p {
        width: 19em;
    }

    #Servicos .serv .servico-1, #Servicos .serv .servico-2 {
        margin-left: 0;
    }

    #Servicos .d-points,
    #Servicos .d-points-2 {
        display: none;
    }


    #Contato h1 {
        text-align: center;
    }

    #Contato .more a {
        font-size: 1.8em;
    }

    #Contato .form form {
        margin-top: 1.5em;
    }

    #Contato .form form input,
    #Contato .form form textarea,
    #Contato .form form button {
        font-size: 1.5em;
    }

    .points-bottom-2, .points-bottom {
        display: none;
    }


    footer .logo-bottom img {
        width: 150px;
    }

    footer .logo-bottom span {
        font-size: 2em;
    }

    footer span {
        font-size: 1em;
    }

    .details-bottom, .details-bottom-2 {
        display: none;
    }

}

@media screen and (min-width: 1250px) and (max-width: 1500px) {

    #Home .main-photo {
        width: 500px;
        box-shadow: 20px -20px 1px #8B54FF;
        margin-top: 10em;
    }

    #Home .texts {
        margin-right: 5em;
        text-align: center;
    }

    #Home .texts h1 {
        font-size: 3em;
    }

    #Home .texts h3 {
        margin-top: -10px;
        font-size: 2.4em;
    }

    #Home .texts h5 {
        font-size: 3em;
    }


    #Dentista .image {
        width: 500px;
    }

    #Dentista .texts h1 {
        font-size: 3em;
    }

    #Dentista .texts p {
        width: 17em;
    }

    #Dentista h3 {
        font-size: 2em;
        padding-bottom: 2em;
    }

    #Dentista .points {
        top: 95em;
        left: -6em;
    }

    #Dentista .points-2 {
        display: none;
    }



    #Servicos h1 {
        text-align: center;
    }

    #Servicos .serv {
        width: 100%;
        align-items: center;
    }

    #Servicos .serv img {
        width: 450px;
    }

    #Servicos .serv p {
        width: 19em;
    }

    #Servicos .serv .servico-1, #Servicos .serv .servico-2 {
        margin-left: 0;
    }

    #Servicos .d-points,
    #Servicos .d-points-2 {
        display: none;
    }


    #Contato h1 {
        text-align: center;
    }

    #Contato .more a {
        font-size: 1.8em;
    }

    #Contato .form form {
        margin-top: 1.5em;
    }

    #Contato .form form input,
    #Contato .form form textarea,
    #Contato .form form button {
        font-size: 1.5em;
    }

    .points-bottom-2, .points-bottom {
        display: none;
    }


    footer .logo-bottom img {
        width: 150px;
    }

    footer .logo-bottom span {
        font-size: 2em;
    }

    footer span {
        font-size: 1em;
    }

    .details-bottom, .details-bottom-2 {
        display: none;
    }

}

@media screen and (min-width: 1500px) and (max-width: 1750px) {

    #Home .main-photo {
        width: 700px;
        box-shadow: 20px -20px 1px #8B54FF;
        margin-top: 10em;
    }

    #Home .texts {
        margin-right: 5em;
        text-align: center;
    }

    #Home .texts h1 {
        font-size: 3.5em;
    }

    #Home .texts h3 {
        margin-top: -10px;
        font-size: 2.4em;
    }

    #Home .texts h5 {
        font-size: 3.5em;
    }


    #Dentista .image {
        width: 700px;
    }

    #Dentista .texts h1 {
        font-size: 4.5em;
    }

    #Dentista .texts p {
        width: 17em;
    }

    #Dentista h3 {
        font-size: 2em;
        padding-bottom: 2em;
    }

    #Dentista .points {
        top: 95em;
        left: -6em;
    }

    #Dentista .points-2 {
        display: none;
    }



    #Servicos h1 {
        text-align: center;
    }

    #Servicos .serv {
        width: 100%;
        align-items: center;
    }

    #Servicos .serv img {
        width: 450px;
    }

    #Servicos .serv p {
        width: 19em;
    }

    #Servicos .serv .servico-1, #Servicos .serv .servico-2 {
        margin-left: 0;
    }

    #Servicos .d-points,
    #Servicos .d-points-2 {
        display: none;
    }


    #Contato h1 {
        text-align: center;
    }

    #Contato .more a {
        font-size: 1.8em;
    }

    #Contato .form form {
        margin-top: 1.5em;
    }

    #Contato .form form input,
    #Contato .form form textarea,
    #Contato .form form button {
        font-size: 1.5em;
    }

    .points-bottom-2, .points-bottom {
        display: none;
    }


    footer .logo-bottom img {
        width: 150px;
    }

    footer .logo-bottom span {
        font-size: 2em;
    }

    footer span {
        font-size: 1em;
    }

    .details-bottom, .details-bottom-2 {
        display: none;
    }

}